:root {
  --color-main-bg: #fff;
  --color-temp: #000;
  --color-link-hover: #d85353;
}

/* Main */
* {
  margin: 0;
  padding: 0;
  color: var(--color-temp);
  font-family: Arial, Helvetica, sans-serif;
  /* text-decoration: none; */
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.4s ease;
  color: var(--color-link-hover);
}

/**  ID */
#nav {
}

/** Classes */

.flex-wrapper {
  display: flex;
}

/** Tablets */
@media screen and (min-width: 768px) {
}

/**  Everything else */
@media screen and (min-width: 1001) {
}
